*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/.ideda/misc.xml
/.idea/codeStyles/
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/.name
/.idea/kotlinCodeInsightSettings.xml
/.idea/.gitignore
/.idea/render.experimental.xml
/.idea/jarRepositories.xml
/.idea/compiler.xml
/.idea/scopes
/.idea/dictionaries

#Trashy
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
